force-app/main/default/flows/VerifyDocumentRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
    </choices>
    <description>Verify Document Request</description>
    <interviewLabel>VerifyDocumentRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Document Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update Document Request</description>
        <name>UpdateDocumentRequest</name>
        <label>Update Document Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ApprovalType</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentRequest__c</object>
    </recordUpdates>
    <screens>
        <name>ApproveRejectDocument</name>
        <label>Approve / Reject Document</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateDocumentRequest</targetReference>
        </connector>
        <fields>
            <name>ApprovalType</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ApprovalType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Approved</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ApprovalType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Rejected</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ApproveRejectDocument</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
